@import "./variables/variables.scss";

.headerUp {
  width: 100%;
}


.header-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;

    li:last-child {
      width: 6rem;
    }

    li {
      margin: 0 0.5rem;
      font-weight: 500;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: black;
        height: 4px;
        width: 100%;
        bottom: -0.5rem;
        transform-origin: 100% 0;
        transform: scaleX(0);
        transition: transform 0.4s;
      }

      &:hover::before {
        transform-origin: 0 0;
        transform: scaleX(1);
      }
      .design {
        display: flex;
        align-items: center;
      }
      .fa-palette {
        margin-right: 0.2rem;
      }
    }
    .promo {
      color: $second-color;
    }
  }

  .logo {
    width: 18%;
    cursor: pointer;
  }

  .search-wrapper {
    border-left: 1px solid $third-color;
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    .search-placeholder {
      color: $main-color;
      font-weight: 200;
      font-size: 1rem;
      margin-left: 1rem;
    }
    svg {
      width: 30px;
      margin-left: 1rem;
    }
  }
}
